Package: xor
Version: 0.1-1
Architecture: i386
Maintainer: Endrey  <yerdnezaid@gmail.com>
Installed-Size: 45
Depends: libc6-i386 (>= 2.1)
Section: Utilities
Priority: extra
Homepage: http://gitorious.org/xor/xor
Description: Allows to create a document by the use of xor.
 Allows to the user encrypt and decrypt files by the use of xor upon them. The result may be given by terminal or by a new file.
